:root{
  --primary:#15456d;
  --secondary:#ff993b;
}
main>.container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}
.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100% ;
  height:60px;
  background-color: var(--secondary);
}

.navbar-dark{
  background-color:var(--secondary)
}

.fas{
  color:var(--primary)
}

.btn{
  color:white;
  background-color:var(--primary)
}

.footer-code{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100% ;
  height:60px;
  background-color: var(--secondary);
}

#alertHeading{
  background-color: rgb(243, 199, 141);
}

h1,h2,h3,h4,h5,h6{
  color:var(--primary);
  text-transform: uppercase;
  font-family: 'Philosopher', sans-serif;
}
span{
  text-transform: lowercase;

}

.fa-js-square{
  color:#f0db4f
}

.fa-css3-alt{
 color:#264de4
}

.fa-html5{
  color: #e34c26
 }

 .fa-bootstrap{
  color:#563d7c
}

code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}

.fontP{
  font-family: 'Philosopher', sans-serif;
}
p,div,strong,a,li,.nav-link{
  font-family: 'PT Sans', sans-serif;
}
 

